<div class = "sc-main-list-item">
  <div class="sc-avatar-wrapper">
   <img class ="sc-avatar" src="https://www.w3schools.com/howto/img_avatar2.png">
  </div>

 <div class="sc-main-list-item-content-wrapper">
  <ul class="author-and-time-container">
    <li><a href="">Lidya Abune</a></li>
    <li class="time-container">3 days ago</li>
  </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque ante a interdum varius. Aenean sed nulla eu lacus mattis ullamcorper?</p>

    <ul class="sc-main-list-item-meta-wrapper"> 
      <li>upvotes 23</li>
      <li>comments 0</li>
      <li></li>
    </ul>
  </div>
  <div style="clear: both;"></div>
</div>

