<div  id="editor" class="editable mt-3">
</div>

<script>
  var editor = new MediumEditor('.editable');


  $(function () {
    $('.editable').mediumInsert({
      editor: editor
    });
  });

</script>